<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection Test</title>
    <script defer src="https://cdn.jsdelivr.net/npm/face-api.js@latest/dist/face-api.min.js"></script>
    <style>
        body { margin: 0; }
        video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
        canvas { position: absolute; top: 0; left: 0; }
    </style>
</head>
<body>
    <h1>Face Detection Test</h1>
    <video id="videoInput" autoplay muted></video>
    <canvas id="canvasOutput"></canvas>
    <script src="static\app.js"></script>
</body>
</html>
